# Dependências
node_modules/
.pnpm-store/
jspdf/

# Builds e outputs
dist/
.output/
.tanstack/
.wrangler/
.vinxi/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variáveis de ambiente e segredos (o .env principal é necessário no build do Vite)
.env.local
.env.production
.env.development
.env.*.local
.dev.vars

# Arquivos do sistema e IDEs
.vscode/
.idea/
.DS_Store
Thumbs.db

# Git e controle de versão
.git/
.gitignore
.gitattributes

# Arquivos de lock desnecessários no container
bun.lock
